<%- include ("./partials/header.ejs") %>
    <section class="mx-auto w-full px-[5%] lg:mb-0 mt-9">
        <div class="flex flex-row justify-between w-full ">
            <div class="relative lg:w-[auto] w-[50%] ">
                <img src="/images/corporate-about-page-hero-image.webp"
                    class="object-contain w-full absolute top-0 left-0 " alt="">
            </div>
            <div>
                <h1>About Bintrests</h1>
            </div>
        </div>
    </section>