<div class="nav flex-column nav-pills settings-nav" id="v-pills-tab" role="tablist" aria-orientation="vertical">
  <!-- <a class="nav-link" id="settings-profile-tab"  href="#settings-profile" role="tab" aria-controls="settings-profile" aria-selected="true"><i class="icon ion-md-person"></i> Profile</a> -->
  <a class="nav-link" id="wallet-tab" href="/dashboard/wallet" role="tab" aria-controls="wallet" aria-selected="true">
    <i>
      <ion-icon class="icon" name="wallet"></ion-icon>
    </i>
    Wallet</a>
  <a class="nav-link" id="withdraw-tab-tab" href="/dashboard/withdraw" role="tab" aria-controls="withdraw-tab" aria-selected="true">
    <i>
      <ion-icon class="icon" name="card"></ion-icon>
    </i>
    Withdraw</a>
</div>